.VisibleUploadButton {
    /* background-color: #7CA168;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 25px; */
    position: center;
}

.HiddenFileInput {
    position: center;
    padding: 20px;
    
}